[Unit]
Description=Mosquitto MQTT Broker Container
After=local-fs.target

[Container]
Image=eclipse-mosquitto:latest
Volume=/var/lib/kiln-monitoring/mosquitto-config:/mosquitto/config:Z
Volume=/var/lib/kiln-monitoring/mosquitto/data:/mosquitto/data:Z
Volume=/var/lib/kiln-monitoring/mosquitto/log:/mosquitto/log:Z
PublishPort=1883:1883
PublishPort=9001:9001
Timezone=local
HostName=Mosquitto

[Service]
Restart=always

[Install]
#start by default on Boot
WantedBy=multiuser.target default.target 